<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://pyxis.nymag.com/v1/imgs/978/4d0/4b4779e1dcb86984abe55c08366f9babe7-13-empty-theater.jpg);">
  <div class="container text-center">
    <h1>Save any Kind of Movies!</h1>
    <p>Love for cinema unites us all.</p>
  </div>
</div>






<div class="container">
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category d-flex align-items-center text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i0.wp.com/www.wcipp.org.au/wp-content/uploads/2022/12/test-image-Not-seen-on-Bungalook-Web-Page-used-for-testing-Image-related-stuff.jpg?fit=1920%2C1080&ssl=1)">
        <%= link_to list.name, list %>
      </div>
    <% end %>
  </div>
</div>
